<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Welcome to 성적관리프로그램</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>		<!--  게시판의 첫 페이지 : index.html	//그러나 index.html에서 redirect해서 다른 페이지로 넘어갈 예정 -->
  </welcome-file-list>
  
  <servlet>
	<servlet-name>DBCPInit</servlet-name>				<!--  DBCPInit을 먼저 만들고 index.html로 이동 -->
	<servlet-class>com.example.libs.model.DBCPInit</servlet-class>
	<load-on-startup>1</load-on-startup>
   </servlet>

</web-app>